*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.banner{
    background-image: url('/proyecto/img/fondo.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

/* Encabezado */

header{
    background-color: #c62828;
    padding: 20px;
}

header h1{
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

/* Menú */


nav{
    text-align: center;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
}

nav a:hover{
    background-color: white;
    color: #c62828;
    border-radius: 5px;
}

/* Botón Login */

.login{
    background-color: white;
    color: #c62828;
    border-radius: 5px;
}

/* Sección principal */

.inicio{
    text-align: center;
    padding: 80px 20px;
    color: red;
}

.inicio h2{
    margin-bottom: 20px;
}

.inicio p{
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}

/* Botón principal */

.inicio button{
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.inicio button:hover{
    background-color: #ffd54f;
}

/* Tarjetas */

.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
}

.tarjeta{
    background-color: white;
    width: 250px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
}

.tarjeta:hover{
    transform: scale(1.05);
}

.tarjeta h3{
    color: #c62828;
    margin-bottom: 10px;
}

/* Pie de página */

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}